body{
    background-color: #64DD17;
}

#heading{
    text-align: center;
    color: white;
    font-size: 60px;
}

@media only screen and (max-width: 600px) {
    #heading{
        text-align: center;
        color: white;
        font-size: 80px;
    }
}
